.navbar-container {
    display: flex; /* Makes this div a flex container */
    justify-content: space-between; /* Pushes logo to left, links to right */
    align-items: center; /* Vertically centers the logo and links */
    background-color: #445783;
    color: white;
    padding: 10px 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px; /* Space between the links */
    padding: 5px 10px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}
.Header-box{
    background-color: white; /* Gives the box a light blue background */
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 3px solid #336699; /* Puts a blue border around the box */
    text-align: left; /* Centers the text and image inside */
}
.p{
text-font:ariel;
}
.2header-box{
    background-color: white; /* Gives the box a light blue background */
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 3px solid #336699; /* Puts a blue border around the box */
    text-align: left; /* Centers the text and image inside */
}
.gallery{
    display : inline-block;
    border  : 3px solid navy;
    margin :5px;
    width:200px;

}
.gallery.description{
    padding :10px;
    text-align:align;

}
.gallery:hover{
        border  : 3px solid SteelBlue;
}
