.navbar-container {
    display: flex; /* Makes this div a flex container */
    justify-content: space-between; /* Pushes logo to left, links to right */
    align-items: center; /* Vertically centers the logo and links */
    background-color: #445783;
    color: white;
    padding: 10px 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px; /* Space between the links */
    padding: 5px 10px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}
.Header-box{
    background-color: white; /* Gives the box a light blue background */
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 3px solid #336699; /* Puts a blue border around the box */
    margin:center;
}
.h3{
text-font:Verdana   ;
}
.2header-box{
    background-color: white; /* Gives the box a light blue background */
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 3px solid #336699; /* Puts a blue border around the box */
    text-align:left ; /* Centers the text and image inside */
    margin
}


form{
    background:#fff;
    width:600px;
    height:55px;
    display:flex;
}
form input{
    flex:1;
    border:none;
    outline:none;
}
form button {
    background:#fffff;
    padding:10px 50px;
    border:none;
    outline:none;
    color:#00000;
    letter-spacing:1px;
    cursor:pointer;
}
form .fa-search{
    align-self:center;
    padding:10px 20px;
    color:navy;

}
.nav-links a:hover {
    background-color: #336699;
    border-radius: 10px;
}
*{
    padding:0;
    margin:0;
    box-sizing:0;
}
footer{
    background-color:#336699;
}
.footercontainer{
    width:100%;
    padding: 70px 30px 20px;

}
.socialicons{
display:flex;
justify-content:center;
}
.socialicons a{
text-decoration:none;
padding:10px;
background-color:white;
margin:10px;
border-radius:50%;

}
.socialicons a i{
    font-size:2em;
    color:black;
    opacity:0.9;

}
.socialicons a:hover{
    background-color:#336699;
    transition:0.5s;

}
.socialicons a:hover i{
    color:white;
    transition:0.5s;

}
.footernav{
    margin:30px 0;
}
.footernav ul{
    display:flex;
    justify-content:center
}
.footernav ul li a{
    color:white;
    margin:20px;
    text-decoration:none;
    font-size:1.3em;
    opacity:0.;
    transition:0.5s;

}
.footernav ul li a:hover{
    opacity:1;
}
.footerbottom{
    background-color:#336699;
    padding:20px;
    text-align:center;
}
.footerbottom p{
    color:white

}
.designer{
    opacity:0.7;
    text-transform:uppercase;
    letter-space:1px;
    font-weight:400;
    margin:0px 5px;

}
@media (max-width:700px){
    .footernav ul {
        flex-direction:column;
    }
    .footernav ul li{
        width:100%;
        textalce
        margin:10px;

    }
}