.navbar-container {
    display: flex; /* Makes this div a flex container */
    justify-content: space-between; /* Pushes logo to left, links to right */
    align-items: center; /* Vertically centers the logo and links */
    background-color: #445783;
    color: white;
    padding: 10px 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px; /* Space between the links */
    padding: 5px 10px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}
.Header-box{
    background-color: white; /* Gives the box a light blue background */
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 3px solid #336699; /* Puts a blue border around the box */
    text-align: left; /* Centers the text and image inside */
}
.h3{
text-font:Verdana   ;
}
.2header-box{
    background-color: white; /* Gives the box a light blue background */
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 3px solid #336699; /* Puts a blue border around the box */
    text-align: ; /* Centers the text and image inside */
}
.gallery{
    display : inline-block;
    border  : 3px solid navy;
    margin :15px;
    width:200px;


}
.gallery.description{
    padding :10px;
    text-align:align;

}
.gallery:hover{
        border  : 3px solid SteelBlue;
}
.container1{
    width:40%;
    height:50px;
    background:#ff;
    display:flex;
    align-items:center;
    justify-content:center;
}
form{
    background:#fff;
    width:600px;
    height:55px;
    display:flex;
}
form input{
    flex:1;
    border:none;
    outline:none;
}
form button {
    background:#fffff;
    padding:10px 50px;
    border:none;
    outline:none;
    color:#00000;
    letter-spacing:1px;
    cursor:pointer;
}
form .fa-search{
    align-self:center;
    padding:10px 20px;
    color:navy;

}
.nav-links a:hover {
    background-color: #336699;
    border-radius: 10px;
}
* {
  box-sizing: border-box;
}

.container2{
    width:100%;
    height:100vh;
    background:#fffff;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 3px solid #336699; /* Puts a blue border around the box */
    background:Image/
}
.swiper{
    width:80%;
    height:fit content;
}
.swiper-slide img{
    width:100%;
    height:100vh
}
